.red{
position: absolute;
 width: 30px;
  height: 30px;
/*   background-color: red;
 */}

.blue{
  position: absolute;

  width: 30px;
  height: 30px;
  left: -1180px;
 /*
background-color: blue;
 */}

#buttonStop{
  padding: 100px;
  position: absolute;
  bottom:10px;
  right: 0;
  text-align: center;
}
#buttonRun{
  position: absolute;
  padding: 100px;
  bottom:10px;
  left: 0;
  text-align: center;
}
/*
img {
-webkit-transform:rotate(180deg); Safari 3.1+/Chrome
-o-transform:rotate(180deg);  Opera 10.5+
-moz-transform: rotate(180deg); Firefox 3.5+
  } */
